## Five Number Summary - Min, Q1, Median, Q3, Max

In [2]:
import pandas as pd

data = pd.DataFrame({'Month' : ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec'],
                     'Temperature(째F)' : [52.3, 56.6, 64.6, 72.5, 79.9, 86.4, 89.1, 88.1, 82.2, 72.7, 63.6, 54.0]
    })

data[['Temperature(째F)']].describe()

       Temperature(째F)
count        12.000000
mean         71.833333
std          13.485368
min          52.300000
25%          61.850000
50%          72.600000
75%          83.250000
max          89.100000